extends layout

block content
  .card 
    h3 Something went wrong 
    button.secondary(onclick="window.history.back()") Go Back 
    button(onclick="window.location.href='/new'" style="margin-left: 8px") Explore a new contract 