doctype html
html.bg-gradient-to-tl.from-black.to-blue-900
  head
    title= title
    link(rel="icon" href="/images/logo.png")
    link(rel='stylesheet' href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")

    script(src="https://cdn.tailwindcss.com")
    script(src="https://unpkg.com/feather-icons")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://unpkg.com/ethers@5.7.2/dist/ethers.umd.min.js")

  body
    nav.flex.w-100.gap-4.px-4.py-2.font-medium.backdrop-blur-md(class="bg-white/10 sm:justify-start").justify-center
      a(href='/' class="nav-link" ) Home 
      a(href='/new' class="nav-link") Create
      a(href='https://github.com/questbook/ethcontract.app' class="nav-link") Github

    button.bg-blue-800.rounded-lg.font-medium.px-4.py-2.flex.mx-auto.my-4(onclick="navigator.share({ url: window.location.href, text: window.location.href })" class="sm:fixed sm:right-5 sm:bottom-5") 
      i.w-5(data-feather="share-2")
      span &nbsp; Share this UI
    block content
    
    script.
      feather.replace()
