doctype html
html
  head
    title= title
    link(rel="icon" href="/images/logo.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/feather-icons")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css")
  body
    block content
  
  
  br
  br
  hr
  center
    a(href="/new") Explore a new contract 