
extends layout

block content
    .div.flex.flex-col.justify-center.items-center.m-10.gap-5(class="h-[85vh]")
        h1.text-6xl.font-semibold ETHContract
        p.text-center.text-lg
            | Simple sharable UI for interacting with smart contracts
        img.w-80(src="https://media.tenor.com/It6WN9CY4HMAAAAM/wow-oh-my-god.gif")
        a.px-4.py-3.bg-white.rounded-lg.text-black.font-semibold(href="/new") Create UI