
extends layout

block content
    .div.full-cover-main
        nav.navbar.navbar-light.text-center
            .container.d-flex.justify-content-center
                a.navbar-brand(href='/') 
                    h1.display-3.text-light ETHContract
        .masthead.d-flex.justify-content-center.align-items-center
            .container.d-flex.justify-content-center.align-items-center
                .row.justify-content-center.text-center
                    .text-wrap.col-12(style="width: 48rem;")
                        p.fs-2.text-center.text-light
                            | Simple sharable UI for interacting with smart contracts
                    .col-12.justify-content-center
                        .mb-3.mt-5.d-grid.gap-2.col-4.mx-auto
                            a.btn.btn-light.btn-lg(href="/new") Create UI for a new contract
