body {
  background-color: #01205c;
  color: white;
}

.links {
  text-decoration: none !important;
  color: white !important;
}

.links :hover {
  color: rgba(255, 255, 255, 0.849);
}

i.bi-circle-fill {
  color: #198754 !important;
}

.card-pin {
  position: absolute;
  left: 84%;
  bottom: 62%;
  width: 20px;
  height: 20px;
}

.pin:focus {
  box-shadow: none !important;
}

.pin i {
  color: white;
}

.masthead {
  position: relative;
  min-height: 30rem;
  height: 70vh;
  width: 100%;
}

.full-cover-main {
  background-image: url('/images/bg-01-02.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-cover-other {
  background-image: url('/images/bg-01-01.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-container {
  position: relative;
  min-height: 30rem;
  height: 60vh;
  width: 100%;
}

.form-container {
  padding: 0 11em;
  margin-top: 6em;
}

.cardd {
  background-color: transparent;
  border-color: white;
}

.address {
  border: 1px solid #f9fafb;
  padding: 0.5em;
  border-radius: 3px;
}
